<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
</head>
<body>
<ul>
    <li><a href="{%url 'index'%}">django</a></li>
    <li><a href="{%url 'admin:index' %}">Admin</a></li>
    <li><a href="{%url 'basic_app:register' %}">register</a> </li>
    {%if user.is_authenticated%}
    <li><a href="{% url 'logout' %}">logout</a> </li>
    {%else%}
    <li><a href="{% url 'basic_app:user_login' %}">login</a> </li>
    {%endif%}
</ul>
{% block body_block %}
{% endblock %}
</body>
</html>